body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: #fff;
}
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;

    --second-family: "Raleway", sans-serif;
}

.button {
    cursor: pointer;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    color: var(--navy-blue);
}

.groups-title {
    font-weight: 500;
    font-size: 20px;
    color: var(--navy-blue);
    line-height: 1.2;
    letter-spacing: 2%;  
}

.groups-text {
    line-height: 1.5;
    letter-spacing: 2%;
}

.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 3%;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--navy-blue);
}

.logo .logo-web {
    color: var(--iris);
}

.menu-nav .link {
    font-weight: 500;
    text-decoration: none;
    line-height: 1.5;
    color: var(--navy-blue);
}

.menu-nav .studio .link:hover,
.menu-nav .link:hover {
    text-decoration: none;
    color: var(--ocean);
}

.menu-nav .studio .link:active {
    text-decoration: underline;
    color: var(--ocean);
}

.address .info .link {
    text-decoration: none;
    color: var(--slate);
    letter-spacing: 2%;
    line-height: 1.5;
}

.address .info .link:hover {
    color: var(--ocean);
}

.page-title {
    color: #fff;
    text-align: center;
    background: var(--navy-blue);
}

.page-title .header1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
}

.page-title .button{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5%;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
}

.page-title .button:hover {
    background-color: var(--ocean);
}

.our-team {
    background: var(--cloud);
}

.our-team-groups .mark-guerrero {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}

.our-team-groups .tom-ford {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}

.our-team-groups .camila-garcia {
    background: var(--white);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-groups .daniel-wilson {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}

.our-team-groups .groups-title,
.our-team-groups .groups-text {
    text-align: center;
}

.footer {
    background-color: var(--navy-blue);;
}

.footer .logo {
    color: var(--cloud);
}

.footer-text {
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--cloud);
}
