body {
    font-family: "Roboto", sans-serif;
    color: var(--slate);
    background-color: #fff;
}
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;

    --second-family: "Raleway", sans-serif;
}

.button {
    cursor: pointer;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    color: var(--navy-blue);
}

.groups-title {
    font-weight: 500;
    font-size: 20px;
    color: var(--navy-blue);
    line-height: 1.2;
    letter-spacing: 0.02em;  
}

.groups-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.logo .logo-studio {
    color: var(--navy-blue);
}

.menu-nav .link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.menu-nav .link:hover {
    color: var(--ocean);
}

.menu-nav .link:active {
    color: var(--ocean);
}

.address {
    font-style: normal;
}

.address .info .link {
    font-style: normal;
    color: var(--slate);
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.address .info .link:hover {
    color: var(--ocean);
}

.address .info .link:active {
    color: var(--ocean);
}

.page-title {
    color: #fff;
    background: var(--navy-blue);
    text-align: center;
}

.page-title .header-page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.page-title .button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--iris);
}

.page-title .button:hover {
    background-color: var(--ocean);
}

.page-title .button:active {
    background-color: var(--ocean);
}

.our-team {
    background: var(--cloud);
}

.our-team .section-title {
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}

.our-team-groups .card-team  {
    text-align: center;
    background-color: var(--white);
}

.our-portfolio .section-title {
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}

.footer {
    background-color: var(--navy-blue);;
}

.footer .logo-studio {
    color: var(--cloud);
}

.footer-text {

    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--cloud);
}
